<div class="section" id="home">

	<div id="welcome">
	
	<iframe onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Demo Reel']);" src="http://player.vimeo.com/hubnut/album/2195518?color=44bbff&amp;background=000000&amp;slideshow=0&amp;video_title=1&amp;video_byline=1" webkitAllowFullScreen mozallowfullscreen allowFullScreen width="560" height="315" frameborder="0"></iframe>
	
	<h1>Welcome to my website.</h1>
	<h1>I make sounds for pictures and games and art.</h1>
	<h1>And I design.</h1>
	
	</div>
	
	
	<p>Glad to see you here.  I do sound.  Whether it's effects, design, composition, narration, or even location sound, I make sure that my <%= link_to "audio work", sound_path %> meets the vision of my clients.</p>
	
	<p>I'm also a visual, interaction, and experience designer, and I <%= link_to "make web sites", design_path %>, <%= link_to "code Max/MSP patches", software_path %>, and <a title="Cutting the Cables, by Alan Koda" href="http://www.alankoda.com/download.php?file=Koda_CuttingtheCables.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Thesis']);">try to make software better.</a></p>
	
	<p>When I'm not knee-deep in Pro Tools or Coda, I <%= link_to "doodle in Illustrator", design_path %>, follow <%= link_to "indie games", "http://venuspatrol.com/" %>, and play whatever instrument happens to be in front of me.</p>
	
	<h5><a title="Alan Koda Design Portfolio" href="http://www.alankoda.com/download.php?file=AlanKoda_DesignPortfolio2013.pdf" onClick="_gaq.push(['_trackEvent', 'Documents', 'Download', 'Portfolio']);">&rarr; Download my Visual Design Portfolio</a></h5>
	
	<p>
		<h2>The Blog</h2>
		<aside>powered by <%= link_to "Tumblr", "http://www.tumblr.com" %></aside>
		<script type="text/javascript" src="http://kodasound.tumblr.com/js"></script>
		<p><%= link_to "Visit my Tumblr for more posts &rarr;".html_safe, "http://kodasound.tumblr.com/page/2" %></p>
	</p>
	
	<p class="backtotop"><a href="#">&uarr; back to top</a></p>
	
</div>