<h2>Listing all work</h2>

<h1>Sound</h1>  
<ul>
    <% @works.each do |work| %>
		<% if work.av == "sound" %>
			<%= render partial: "work_entry", locals: { work: work }%>
			<%= render partial: "work_entry_edit", locals: { work: work }%>
		<% end %>
    <% end %>
</ul>

<h1>Design</h1>
<ul>
    <% @works.each do |work| %>
		<% if work.av == "design" %>
			<%= render partial: "work_entry", locals: { work: work }%>
			<%= render partial: "work_entry_edit", locals: { work: work }%>
		<% end %>
    <% end %>
</ul>

<br>

<%= link_to 'New Work', new_work_path %>
