<div class="section" id="work">
	<div class="subsection" id="films">

		<h2>Sound</h2>		
	
		<h4>Filter by category:</h4>
	
		<nav class="filternav">
			<ul>
				<li class="production">Production</li>
				<li class="post">Postproduction</li>
				<li class="composition">Composition</li>
				<li class="withvideo">With video</li>
				<br />
				<li class="withawards">With awards</li>
				<li class="depixelated">De-pixelated</li>
				<li class="bitparts">BIT Parts</li>
				<li class="all">view all</li>
			</ul>
		</nav>
	
		<%= @works.each do |work| %>
			<% if @works.av == "sound" %>
				<div>
		        	<%= content_tag :h5, work.name %>
					<%= content_tag :h4, @work.series if @work.series %>
				  	<%= content_tag :h4, @work.publisher if @work.publisher %>
			        <%= work.embed.html_safe %>
					<%= content_tag :h3, work.av %>
					<%= content_tag :h4, work.category %>
					<%= @work.role %>
				</div>
			<% end %>
	    <% end %>

	</div>
</div>