<footer>
	<nav class="mainnav" id="bottomnav">
		<ul>
			<li class="about">
				<ul>
					<li class="aboutme"><%= link_to "About Me", aboutme_path %></li>
					<li class="resume"><%= link_to "Resume", resume_path %></li>
					<li class="awards"><%= link_to "Awards", awards_path %></li>
				</ul>
			</li>
			 /// 
			<li class="work">
				<ul>
					<li class="films"><%= link_to "Sound", sound_path %></li>
					<li class="design"><%= link_to "Design", design_path %></li>
					<li class="software"><%= link_to "Software", software_path %></li>
				</ul>
			</li>
			 /// 
			<li class="contact">
				<ul>
					<li><%= link_to "Twitter", "http://www.twitter.com/KodaSound" %></li>
					<li><%= link_to "Tumblr", "http://kodasound.tumblr.com "%></li>
					<li><%= link_to "LinkedIn", "http://www.linkedin.com/in/alankoda/" %></li>
					<li><%= link_to "Facebook", "http://www.facebook.com/pages/KodaSound/133981336687315"%></li>
				</ul>
			</li>
		</ul>
	</nav>

	<div id="credits">
		<p>site design by Alan Koda &copy;2012</p>
		<p><%= link_to "alan@alankoda.com", "mailto:alan@alankoda.com" %> • 
		<%= link_to "817.308.5446", "tel:+18173085446" %></p>
	</div>

</footer>